<!DOCTYPE html>
<html>

<head>
    <title>노무현 기일 계산기</title>
    <link rel="shortcut icon" href="https://img1.daumcdn.net/thumb/R800x0/?scode=mtistory2&fname=https%3A%2F%2Ft1.daumcdn.net%2Fcfile%2Ftistory%2F150D130F4A1B6D7FAB">
    <style>
        div { text-align: center; }
    </style>
    <script>
        setTimeout("location.reload()", 5000);
    </script>
</head>

<body>
<div>
    <img src="https://ncache.ilbe.com/files/attach/new/20150321/377678/3454101149/5506925276/d4b3e98953f7028ca26b203e6125b56e.jpg" width="500" height="600">
    <h1>노무현 대통령이 사망한지 <%=time%>가 지났습니다.</h1>
    <h4>해당 사이트는 특정인을 비하할 생각이 있습니다.</br>개발자: <a href="https://github.com/green1052" target="_sub">green1052</a></h4>
</div>
</body>

</html>